// .box-map-and-instruction {
//   display: flex;
//   justify: center;
//   align-items: center;
// }

.position-geoloc {

 }


.instructions_steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: red;
}

.step {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  margin: 20px;
  background-color:red;
}

// .map-geoloc {
//   display: flex;
//   align-items: center;
//   background-image: image-url('map_3.png');
//   height: 400 px;

//   #geolocate_me {
//     background-color: #fdd200;
//     border-radius: 5px;
//     padding: 3px;
//   }

//   img {
//     height: 400px;
//   }
// }

.map-geoloc {
  position: absolute;
  justify-content: center;

  .map {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 20px;
  }

  &.geolocate_button {
    position: relative;
    background-color: #fdd200;
    border-radius: 5px;
    padding: 3px;
    top: -100px;
    right: 100px;
  }
}
