// Specific CSS for your home-page

.home-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  height: calc(var(--vh, 1vh) * 100);
}

.home-navbar {
  padding: 1em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $white;


  h1 {
    font-size: 1.3em;
  }
}


