// Specific CSS for your home-page

// .home-wrapper {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   height: calc(var(--vh, 1vh) * 100);
// }

.global-home-page {
  background-color: white;
}

.profile_icon_home img {
  height: 30px;
  width: 30px;
}

.banner-home-page {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 80px;
  padding: 10px 20px;

  .banner-home-page-logo {

  }

  .banner-home-page-title {
    padding: 30px 0 0 10px;
    text-align: center;
    display: flex;
    justify-content: center;

  }

  .profile-icon-home-container {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }

  .logo-home {
    height: 80px;
    width: 65px;
  }

  h1 {
    text-align: center;
    font-size: 24px;
    letter-spacing: 7px;
    color: #808080;
    font-weight: lighter;
  }
}

.welcome-message {
  text-align: center;
  height: 130px;
  width: 80%;
  // padding: 10px 15px 5px 15px;
  // margin-top: 5px;
  // box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;

  .slogan-app {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 25px;
    height: 60px;
  }

  h2 {
    color: #4DD599;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: light;


  }


  p {
    border-top: 1px solid #C4C4C4;
    color: #808080;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: semi-bold;
    padding-top: 20px;



  }
}

// .map-home {
//   display: grid;
//   grid-template-columns: 1fr;
//   // box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);
//   justify-content: center;
//   // width: 95%;
//   height: 210px;
//   background-color: white;
//   margin: 10px auto;
// }


#map {
  margin: auto;

}

.manual-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);
  // width: 100%;
  margin: 0 auto;

}

.two-cards-manual {

  text-align: center;
  background-color: white;
  padding: 20px 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  // box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);

  width: 95%;

  img {
    margin: 0 auto;

  }

  h3 {
    color: #808080;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px 0px;

  }

  h4 {
    letter-spacing: 2px;
    font-weight: semi-bold;
    font-size: 15px;
  }

  .description-app {
    font-weight: light;
    font-size: 13px;
    min-height: 100px;
  }

  .background-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;

  }

  h4 {
    color: #808080;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: semi-bold;
    margin-bottom: 20px;

  }

  p {
    text-align: center;
    color: #808080;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight:regular;
  }

  .buttons-home {
  height: 45px;
  width: 145px;
  text-decoration: none;
  }
}

#second-card-manual {
  border-left: 1px solid #C4C4C4;
}
