.global-places-cards {
  width: 97vw;
  margin: 0 auto;
  margin-top: 3px;
  background: linear-gradient(180deg, #FFFFFF 0%, #D3D3D3, #F1F1F1);
}

.link-to-place {
  text-decoration: none;
  color: black;
}

.card-place-infos {
  display: flex;
  align-items: center;
  width: 97vw;
  margin: 5px auto;
  padding: 12px 10px;
  background-color: white;
  border-radius: 2%;
  border: 0.5px solid rgba(205, 205, 205, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .card-place-details {
    width: 90%;
    margin-left: 9px;
  }

  .image-index {
    width: 85px;
    height: 85px;
    border-radius: 5%;
    object-fit: cover;
  }

  i {
    color: $light-gray;
  }

  .address-place, .number-of-participants {
    font-size: 13px;
  }

  .address-place {
    margin-bottom: 3px;
  }

  .participants {
    display: flex;
  }

  .number-of-participants {
    padding: 3px 0 0 6px;
    margin-bottom: 0;
  }

  .icon-level-of-trash {
    width: 120px;
    height: 25px;
    background-position: center;
    margin-top: 8px;
  }

  .group {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

.input-group {
  padding-top: 35px;
  width: 80vw;
  margin: 0 auto;

  ::placeholder {
    color: black;
    font-weight: light;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }
}

.form-control, .input-group-append {
  height: 3.5vh;
  opacity: 0.75;
}

.input-group-append {
  border-left: 1.5px solid white;
}

