.info-window {
  display: flex;
  justify-content: center;
  align-items: center;

}
.info-window-image {
  width: 100px;
  height: 70px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  padding-bottom: 5px;

}

.info-window p {
  font-size: 10px;
  text-decoration: none;
  color: #5F5F5F;
}

.info-window-status {

}

.fa-plus {
  text-size: 15px;
  color: $green;
}
