.info-window {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 50px;
  width: 130px;
  padding: 0;
  margin: 0;

}

.fa-map-marker-alt {
  color: $gray;
  font-size: 15px;
}

.fa-plus-circle {
  color: $green;
  font-size: 20px;
  padding-top: 5px;

}


.info-window-infos {
  // padding: 10px 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}



// .info-window-image-size {
//   width: 60px;

// }

// .info-window-image {
//   background-size: cover;
//   background-position: center;
//   object-fit: cover;
//   padding-bottom: 5px;
// }

.info-window p {
  font-size: 10px;
  text-decoration: none;
  color: #5F5F5F;
  padding: 0;
  margin: 0;
}

.info-window-status {
  background-color: $light-gray;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  text-align: center;
}

.plus-more-infos {
  text-align: center;
  padding: 0;
  margin: 0;
}

