.info-window {
  display: grid;
  grid-template-rows: 1fr 1fr;


}

.fa-map-marker-alt {
  color: $gray;
  font-size: 20px;
}

.fa-plus-circle {
  color: $green;
  font-size: 25px;
}


.info-window-infos {
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}



.info-window-image-size {
  width: 220px;

}

.info-window-image {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  padding-bottom: 5px;
}

.info-window p {
  font-size: 20px;
  text-decoration: none;
  color: #5F5F5F;
}

.info-window-status {
  background-color: $light-gray;
  padding: 3px 10px;
  border-radius: 5px;
  text-align: center;
}

.plus-more-infos {
  text-align: center;
}

