.new-place-form {
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 5px;
  width: 95vw;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $light-gray;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.picture-mapmaster {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 0 10px 0 10px;
  border: 1px solid $light-gray;
  border-radius: 10px;

  p {
    font-size: 12px;
    padding: 15px 15px 0 15px;
    font-style: italic;
    text-align: center;
  }
}

.camera {
  width: 70px;
  height: 67px;
  margin-left: 10px;
}

.text-title-form {
  margin: 5px 0 15px 0;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 900;
  font-size:   14px;
  line-height: 15px;
}

.volume-level-selection-wrapper {
  display: flex;

  label {
    background-color: $light-gray;
    color: white;
    margin-right: 2px;
    padding-top: 2px;
    flex-grow: 1;
    text-align: center;
  }
}

label.active {
  background-color: $green;
}

.legends-volume {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 10px;
    width: 20%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.trash-type-selection-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  label {
    color: white;
    margin-right: 2px;
    flex-grow: 1;
    text-align: center;
  }
}

// .plus {
//   width: 26.61px;
//   height: 25px;
// }
