.new-place-form {
  padding: 15px;
  width: 95vw;
  border: 1px solid $light-gray;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 8px;
}

.picture-mapmaster {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 10px;
  border: 1px solid $light-gray;
  border-radius: 10px;
}

.text-title-form {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 900;
  font-size:   12px;
  line-height: 15px;
}

.text-second-title-form {
  margin-top: 30px;
}

.camera {
  width: 79.83px;
  height: 76px;
  opacity: 0.5;
}

.plus {
  width: 26.61px;
  height: 25px;
}

.text-picture-trashpoint {
  padding: 15px 50px 0 50px;
}

.legends-volume {
  display: flex;

  p {
    font-size: 10px;
  }
}

.volume-level-selection-wrapper {
  display: flex;

  label {
    background-color: $light-gray;
    color: white;
    margin-right: 2px;
    flex-grow: 1;
    text-align: center;
  }
}

.trash-type-selection-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  label {
    color: white;
    margin-right: 2px;
    flex-grow: 1;
    text-align: center;
  }
}
