.new-form {
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 5px;
  width: 98vw;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $light-gray;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.picture-mapmaster, .picture-participation-proof {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  border: 1px solid $light-gray;
  border-radius: 10px;

  p {
    font-size: 12px;
    padding: 15px 17px 0 17px;
    font-style: italic;
    text-align: center;
  }
}

.picture-mapmaster-active, {
  border: 2px solid $green;
}

.camera {
  width: 55px;
  height: 53px;
  margin-left: 20px;
}

.text-title-form {
  margin: 4px 0 15px 0;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 900;
  font-size:   14px;
  line-height: 15px;
}

.volume-level-selection-wrapper {
  display: flex;

  label {
    background-color: $light-gray;
    color: white;
    margin-right: 2px;
    padding-top: 2px;
    flex-grow: 1;
    text-align: center;
  }
}

label.volume-active {
  background-color: $green;
}

.legends-form {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 10px;
    width: 20%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.trash-type-selection-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  label {
    color: white;
    margin-right: 20px;
    margin-bottom: 15px;
    flex-grow: 1;
    text-align: center;
  }

  label:nth-child(4) {
    margin-right: 0;
  }

  label:nth-child(8) {
    margin-right: 0;
  }

  label img {
    width: 60px;
    height: 60px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    padding: 7px;
  }

  label:first-child img {
    padding: 3px;
  }

  label:nth-child(3) img {
    padding: 0;
  }

  label:nth-child(4) img {
    padding: 0;
  }

  label:nth-child(6) img {
    padding: 3px;
  }

  label:nth-child(7) img {
    padding: 0;
  }
}

label.trash-type-active img {
  border: 2px solid $green;
  border-radius: 5px;
}

// .plus {
//   width: 26.61px;
//   height: 25px;
// }
