.profile-page {

  .banner {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: asset-url("images/headers/profile.png");

    .logo {
      height: 80px;
      width: 100px;
      position: relative;
      top: 5px;
      right: 5px;
    }

    .avatar-profile-medal {
    display: flex;
    justify-content: flex-end;

    }

    .avatar {
      height: 60px;
      width: 60px;
      right: 0px;
    }

    .profile-medal {
      width: 0px;
    }

    img {
      height: 30px;
      width: 30px;
      position: relative;
      top: 15px;
      right: 15px;

    }
  }

  .profile-icons-info {
    padding: 20px 20px 5px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    // border: 0.5px solid $light-gray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);
    margin: 10px;
    background-color: white;
    font-size: 35px;
  }

  .next-mission-card {
    padding: 10px 0px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);
    margin: 10px;
    background-color: white;
  }

  .image-address-time {
    padding: 15px 0px 0px 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .address-time {
      margin: 10px 5px 0px 5px;
      font-weight: bold;

      h3 {
        font-size: 20px;
      }

      h4 {
        font-size: 15px;
      }

      p {
        font-size: 15px;

      }
    }
  }


  .next-mission-photo {
    width: 167px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);

  }


  .next-mission-buttons {
    display: flex;
    flex-direction: column;
    padding: 25px 3px;
    text-align: center;
    align-items: center;

    .btn-success {
      margin: 5px;
      width: 120px;
      color: white;
      font-weight: semi-bold;
    }

    .btn-warning {
      margin: 5px;
      width: 120px;
      color: white;
      font-weight: semi-bold;
    }

  }
}
