.profile-page {

  .banner {
    padding: 20px;

    .avatar {
      height: 60px;
      width: 60px;

    }

    img {
      height: 30px;
      width: 30px;

    }
  }

  .profile-icons-info {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 0.5px solid $gray;
    margin: 10px;
    background-color: white;
  }

  .next-mission-card {
    padding: 10px 0px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    border: 0.5px solid $gray;
    margin: 10px;
    background-color: white;
  }

  .image-address-time {
    padding: 15px 0px 0px 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .address-time {
      margin: 10px 5px 0px 5px;

    }
  }


  .next-mission-photo {
    width: 167px;
    height: 100px;
    object-fit: cover;

  }


  .next-mission-buttons {
    display: flex;
    flex-direction: column;
    padding: 25px 3px;
    text-align: center;
    align-items: center;

    .btn-success {
      margin: 5px;
      width: 120px;
      color: white;
      font-weight: semi-bold;
    }

    .btn-warning {
      margin: 5px;
      width: 120px;
      color: white;
      font-weight: semi-bold;
    }

  }

  .past_mission_card {

  }

}



