.profile-page {

  .banner {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: asset-url("images/headers/profile.png");

    .logo {
      height: 80px;
      width: 100px;
      position: relative;
      top: 5px;
      right: 5px;
    }

    .avatar-profile-medal {
    display: flex;
    justify-content: flex-end;

    }

    .avatar {
      height: 60px;
      width: 60px;
      right: 0px;
    }

    .profile-medal {
      width: 0px;
    }

    img {
      height: 30px;
      width: 30px;
      position: relative;
      top: 15px;
      right: 15px;

    }
  }

  .global-next-mission-card {

  }

  .profile-icons-info {
    padding: 20px 20px 5px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);
    margin: 10px;
    background-color: white;
    font-size: 35px;
    font-weight: 600;

  }

  .next-mission-card-first {
    padding: 10px 0px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    // border: 0.5px solid $light-gray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);
    margin: 10px;
    background-color: white;
  }

  .image-address-time {
    padding: 15px 0px 0px 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 190px;
    width: 150px;

    .address-time {
      margin: 10px 5px 0px 5px;
      font-weight: bold;
      width: 150px;


      h3 {
        font-size: 20px;
      }

      h4 {
        font-size: 15px;
      }

      p {
        font-size: 15px;

      }
    }
  }


  .next-mission-photo {
    width: 167px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);

  }


  .next-mission-buttons {
    display: flex;
    flex-direction: column;
    padding: 25px 3px;
    text-align: center;
    align-items: center;

    .btn-success {
      margin: 5px;
      width: 120px;
      color: white;
      font-weight: semi-bold;
    }

    .btn-warning {
      margin: 5px;
      width: 120px;
      color: white;
      font-weight: semi-bold;
    }

  }


  .next-mission-card-second {
    padding: 10px 0px 10px 10px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    margin: 10px;
    background-color: white;
    width: 150px;
    border-top: 1px solid #C4C4C4;
  }

  .next-mission-place-address {
    width: 100%;
  }

  .past_mission_card {

    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);
    margin: 10px;
    background-color: white;

    h1 {
      padding-top: 20px;
      font-size: 20px;
      letter-spacing: 3px;
      font-weight: bold;

    }

    .mission-completed-cards {
      width: 315px;


      .memorypic-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

      }
    }

    .place-profile-cards {
      h1 {
        em {
          font-weight: 100;
        }
      }

      .one-place-profile-card {
        h1 {
          border-bottom: 1px solid #C4C4C4;
          padding-bottom: 5px;
        }
      }
    }
  }

  .memorypic {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
}



