

.align-show-place {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &.center-place-address {

  }
}

.mission-show {
  // border: 0.5px solid $light-gray;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
  margin: 10px;
  background-color: white;
}

.mission-details {

}


.photo-basic-infos {

}

.mission-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;


}

.place-photo {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .10);

}

.address-status {
  padding: 0px 20px;

  em {
    background-color: $light-gray;
    padding: 3px;
    border-radius: 2px;
    font-weight: normal;
  }
}

.type-of-trashes {
  padding-top: 5px;
  text-align: center;
  p {
    font-size: 15px;
    color: $gray;
    em {
      color: red;
    }
  }
}

.trashes-type-icon {
  height: 30px;
  width: 30px;
}

.bring-bloc {
  padding: 20px;
  p {
    text-align:center;
    font-size: 15px;
    color: $gray;
  }
}

.icons-tools-to-bring {
  text-align: center;

  .icons-tools {
    height: 30px;
    width: 30px;
  }
}

.center-button {
  display: flex;
  text-align: center;
  color: white;
  font-weight: semi-bold;
}


.modal fade {

}

#exampleModalCenter {

}

.modal-dialog modal-dialog-centered {

}

.modal-content {

}

.modal-header {

}

.close {

}

.modal-body {

}

.modal-footer {

}



.safety {
  // border: 0.5px solid $light-gray;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
  margin: 10px;
  background-color: white;
  padding: 20px;

}

.fa-heart {
  color: red;
}



