<div class="home-navbar">
  <h1>LET’S CHOOSE A MISSION!</h1>
  <div class="home-buttons">
    <div class="nav-btn-wrapper">
      <%= image_tag "icons/alert_page_icon.png", class: 'background-icon left' %>
      <%= link_to "ALERT", new_place_path, class: "nav-btn orange-btn" %>
    </div>

    <div class="nav-btn-wrapper">
      <%= image_tag "icons/missions_icon.png", class: 'background-icon right' %>
      <%= link_to "COLLECT", places_path, class: "nav-btn green-btn" %>
    </div>
  </div>
</div>
