<div class="thank-you-box">

  <h1>Thank you</h1>
  <h2>Your contribution means the world to us. As a <strong>thank you</strong> gift, we're delighted to award you</h2>

  <div class="thank-you-message">

    <p class="message-points"><span class="win-points"></span> 10 points</p>

  </div>

  <h2 class="congratulations-message">Congratulations dear Mapmaster!</h2>
  <%= image_tag'icons/bin_profile_icon.svg' %>

  <%= link_to 'See my contribution', place_path(@place), class: "big-button complete-button" %>

</div>


