<div class="info-window">
  <%= cl_image_tag place.mapmaster_photo, alt: "Photo of the place", class: "info-window-image" %>
  <h2><%= place.address %></h2>
  <p><%= place.status %></p>

  <%= link_to place_path(place) do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>
