

.home-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
  // .nav-btn-wrapper {
  //   position: relative;


    // .background-icon.left {
    //   top: -30px;
    //   left: -10px;
    // }

    // .background-icon.right {
    //   bottom: -20px;
    //   right: -10px;
    // }
  // }



.nav-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 50px;
  line-height: 20px;
  margin: 2px 10px;
  padding: 6px 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;

  a:active {
  text-decoration: none;
  color: white;
  }

}

.orange-btn {
  background-color: #fdd200;
  letter-spacing: 3px;

}


.green-btn {
  background-color: #4DD59A;
  letter-spacing: 3px;

}


.nav-filters {
  display: flex;
  justify-content: center;
  margin: 8px;
}

  .filters-btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    margin: 2px;
    padding: 6px 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 125px;
  }

  .orange-filters-btn {
    background-color: #DBD976;
  }

.big-button {
  width: 86vw;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto;
  padding: 5px 0;
  letter-spacing: 3px;
  font-weight: bold;

  &.alert-button {
    margin: 12px 0 20px 0;
    background-color: #F2C938;
    opacity: 0.8;
  }

  &.complete-button {
    background-color: $green;
    text-decoration: none;

    &.place {
      padding-top: 6px;
    }
  }

  &.mission {
    margin: 7px 0 20px 0;
  }

  &.log-in {
    width: 54vw;
    margin-bottom: 30px;
  }

  &.sign-up {
    width: 80vw;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

  .nav-btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 40px;
    line-height: 20px;
    margin: 2px 10px;
    // padding: 6px 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 135px;
    border: 0px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .10)


  }

  .orange-btn {
    background-color: #fdd200;
  }


  .green-btn {
    background-color: #4DD59A;
  }

.go-on-mission-button {
  text-align: center;
  margin: 15px auto;

  &.alert-large {
    width: 325px;
    margin-top: 15px;
  }

  &.update-large {
    width: 325px;
    margin-bottom: 20px;
  }

  &.join-mission-small {
    margin-top: 0;
  }

}

.go-on-mission-button-show {
  text-decoration: none;
  width: 80vw;
  margin-top: 20px;
  margin-bottom: 40px;

}

.back-to-profile-button {
  width: 267.5px !important;

  &.congrats-mission {
    margin-bottom: 0;
    margin-top: 0;
  }

}


.geolocating-btn {
  width: 210px !important;
}

.tap-geolocate {
  font-weight: bold;
}
