.introduction-cards-box {
  // display: grid;
  // grid-template-rows: 1fr 1fr;
  // flex-direction: row;
  display: flex;
  // justify-content: center;
  // align-items: center;
  &.hero-box {
    display: flex;
    background-color: white;
    border-radius: 5%;
    margin: 10px;
  }

  .hero {
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    }
}

// .card-index-place-infos {
//   // display: flex;
//   background-color: white;

//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }


// .card-place-infos {

//   display: flex;
//   flex-direction: column;
//   // justify-content: center;
//   // align-items: center;
//   // margin: 5px auto;
//   // padding: 5px;
//   border-radius: 5%;

//   img {
//     width: 60%;
//     height: 130px;
//     border-radius: 5%;
//   }

//   p {
//     text-align: left;
//     margin-top: 5px;
//     margin-bottom: 0px;
//     font-size: 10px;
//   }
// }

// .icons-card {
//   display: flex;
//   margin: 0;

//   img {
//     height: 40px;
//     width: 40px;
//   }
// }

// .address-info-card p {
//     text-align: left;
//     margin-top: 5px;
//     margin-bottom: 0px;
//     font-size: 10px;
// }

