.header {
  width: 100%;
  height: 92px;
  background-size: cover;
  background-position: center;

  &.update-mission {
    background-image: image-url('headers/update-mission.jpg');
  }

  &.show-place {
    background-image: image-url('headers/show-place.jpg');
  }

  &.create-place {
    background-image: image-url('headers/create-place.jpg');
  }

  &.index-places {
    background-image: image-url('headers/index-places.jpg');
  }

  &.locate-place{
  background-image: url('headers/new_place.jpg')
  }

  h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 33px;
    letter-spacing: 0.2em;
  }


}
