.navbar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 90px;
}

.bottom-navbar {
  position: sticky;
  bottom: 0;
}

.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.home-buttons {
  text-align: center;
  padding: 15px;
}
