.navbar {
  display: flex;
  justify-content: space-around;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
}

.navbar-lewagon {
  background: white;
  bottom: 0;
  // padding-bottom: 0;
  // display: flex;
}

.navbar-lewagon .navbar-collapse {
}

.navbar-brand {
  width: 40px;
  display: flex;
  justify-content: space-around;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
