<div class="thank-you-box-mission">

  <h1>Thank you</h1>

  <h2>Your contribution means the world to us. As a <strong>thank you</strong> gift, we're delighted to award you</h2>

  <%= image_tag "icons/yellow_trophy_icon.png", class: "trophy-mission" %>
  <p class="message-points-mission"><span class="win-points"><%= @mission.mission_points %></span> points</p>

  <h2 class="congratulations-message">Congratulations dear Captain Geen!</h2>
  <%= image_tag'icons/bin_profile_icon.svg', class: "bin-mission-congratulations" %>

  <%= link_to 'Back to profile', profile_path, class: "big-button complete-button" %>

</div>


