<!-- BANNER -->
<div class="header locate-place">
  <h1>POINT LOCATION</h1>
</div>

<div class="instructions">
  <p>where's that nasty garbage?</p>
</div>

<div class="new-form">
  <!-- CONSIGNES -->
  <div class = "position-geoloc">
    <div class="instructions_steps">
      <div class="step">
        <p><%= image_tag "icons/step1gps_icon.svg" %>We need to know where you are to track garbage location</p>
      </div>
      <div class="step">
        <p><%= image_tag "icons/step2gps_icon.svg" %>Allow geolocalisation to advance to the next step</p>
      </div>
      <div class="step">
        <p><%= image_tag "icons/step3gps_icon.svg" %>Tap "I'm here!" on the <strong>map</strong> below to geolocate the spot !</p>
      </div>
    </div>
  </div>

  <!-- MAP <-->
  <div class="map-geoloc">
     <button  id="geolocate_me" class="geolocate-button" >i'm here !</button>
     <%= image_tag "pages_images/map_3.png", class: "map" %>
  </div>
</div>
