<div class="global-create-place">
  <div class="banner-create-place">
  <!-- banner POINT LOCATION -->
    <h1>POINT LOCATION</h1>
  </div>

  <div class="create-place-content">
    <h2>Where's that nasty garbage ?</h2>
    <div class="description-create-place">
      <p>We need to know where you are to track garbage location</p>
      <p>Allow geolocalisation to advance to the next step</p>
      <p>Tap "I'm there !" on the map below</p>
    </div>
  <!-- map -->
  </div>
</div>

<!-- navbar -->
