<!-- banner POINT LOCATION -->

<h1>POINT LOCATION</h1>
  <h2>Where's that nasty garbage ?</h2>
    <p>We need to know where you are to track garbage location</p>
    <p>Allow geolocalisation to advance to the next step</p>
    <p>Tap "I'm there !" on the map below</p>

<!-- map -->


<!-- navbar -->
